@import 'tailwindcss';
@import 'konsta/vue/theme.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'Anek Bangla';
    font-style: normal;
    font-display: swap;
    font-weight: 100 800;
    font-stretch: 75% 125%;
    src: url('../fonts/anek-bangla-bengali.woff2') format('woff2-variations');
    unicode-range:
        U+0951-0952, U+0964-0965, U+0980-09FE, U+1CD0, U+1CD2, U+1CD5-1CD6,
        U+1CD8, U+1CE1, U+1CEA, U+1CED, U+1CF2, U+1CF5-1CF7, U+200C-200D,
        U+20B9, U+25CC, U+A8F1;
}

@theme inline {
    --font-sans:
        Instrument Sans, 'Anek Bangla', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        font-stretch: 96%;
        @apply transition-colors duration-300;
    }
}
